{% extends 'layout.html' %}

{% load static %}
{% block content %}
    <div class="container">
        <h1>画图</h1>
        <div id="main" style="width: 600px;height:400px;"></div>
    </div>

{% endblock %}


{% block js %}
    <script src="{% static '/js/echarts.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            //初始化柱状图
            initBar();
            
        });
        function initBar() {


      // 指定图表的配置项和数据
          var myChart = echarts.init(document.getElementById('main'));

      // 指定图表的配置项和数据
          var option = {
            title: {
              text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
              data: ['销量']
            },
            xAxis: {
              data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
            },
            yAxis: {},
            series: [
              {
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
              }
            ]
          };

          $.ajax({
            url:'/echart/bar/',
            type:'get',
            dataType:'JSON',
            success:function (res) {
                console.log(res.legend);
                option.legend.data=res.legend;
                option.xAxis.data=res.xAxis;
                option.series=res.series;

                myChart.setOption(option);

                //使用刚指定的配置项和数据显示表。

            }
            });
        }
    </script>

{% endblock %}